# This file is used to ignore files which are generated in the Qt build system
# ----------------------------------------------------------------------------

*.pro.user
Makefile*
*.moc
*.o
moc_*.cpp
qrc_*.cpp

userId.txt
talk-schedule
*.exe
